body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
    background-color: antiquewhite;
    padding: 20px 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
h1{
    text-align: center;
    color: black;
}
.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
input{
    padding: 20px;
    background-color: white;
    color: brown;
    border: none;
    cursor: pointer;
    font-size: large;
}
button{
    color: aqua;
    border: none;
    padding: 10px;
    background-color: rgb(220, 150, 58);
    cursor: pointer;
    font-size: large;
}
button:hover{
    background-color: rgb(215, 176, 148);
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: #e9e9e9;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li.completed {
  text-decoration: line-through;
  color: gray;
}
.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
footer a {
    color: #00acee;
    text-decoration: none;
}
